body {
  margin: 20px;
  text-align: center;
  font-family: inherit;
  color:#f05a28;
  background-image: url(https://ak3.picdn.net/shutterstock/videos/17191843/thumb/1.jpg)
}

h1 {
  margin-top: 0;
  font-family: 'Oswald', sans-serif;
  color: #3426a4;
}

h2 {
  font-family: 'Oswald', sans-serif;
  color: #1c819e;
}
h3{
  font-family: sans-serif;
  color: #dfdfdf;
}

.top-container {}

.middle-container {}

.bottom-container {}

a:link {
  color: #226597;
}

a:visited {
  color: white;
}

a:hover {
  color: red;
}
