body {
  margin: 20px;
  text-align: center;
  font-family: inherit;
  color: gold;
  background-image: url(https://ak3.picdn.net/shutterstock/videos/17191843/thumb/1.jpg);
}

h1 {
  margin-top: 0;
  font-family: 'Oswald', sans-serif;
  color: blue;
}

h2 {
  font-family: 'Oswald', sans-serif;
  color: white;
  padding-bottom: 10px;
}
h3 {
  font-family: 'Oswald', sans-serif;
  color: red;
}
p {
  font-family: 'Oswald', sans-serif;
  color: inherit;
}
hr {
  border: dotted gold 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.top-container {
  position: relative;
  padding-top: 50px;
}

.middle-container {
 position: relative;
 padding-top: 25px;
}

.bottom-container {

}

.intro {
    width: 30%;
    margin: auto;
  }
  .skill-row {
    margin-bottom: 100px;
  }

  .ukjack-img {
    width: 18%;
    float: none;
    margin: 15px;

  }
  .thought-img {
    width: 25%;
    float: none;
    margin: 15px;
  }
  .waterpolo-1-img {
    width: 25%;
    padding-right: 10px;
  }
  .waterpolo-2-img {
    width: 27%;
    padding-right: 10px;
  }

a:link {
  color: red;
}

a:visited {
  color: white;
}

a:hover {
  color: blue;
}
